a {
  color: black
}

a:hover {
  color: purple
}

.btn-as-link {
  color: black
}

.btn-as-link:hover {
  color: purple
}

.btn-shortcut a {
  color: black;
  background-color: orange
}

.btn-shortcut a:hover {
  color: purple;
  background-color: orange
}
