a {
  color: black
}

a:hover {
  color: gray
}

.btn-as-link {
  color: black
}

.btn-as-link:hover {
  color: gray
}

.btn-shortcut a {
  color: black;
  background-color: #bababa
}

.btn-shortcut a:hover {
  color: purple;
  background-color: #bababa
}

.login-link a {
 color: #969696
}

.login-link a:hover {
 color: #1c1c1c
}

.password-link {
  margin-top: 8px
}

.password-link a {
 color: #969696;
 font-size: 11px
}

.password-link a:hover {
 color: #1c1c1c
}
