/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  // background-size: cover !important;
  // display: flex;
  text-align: center;
  background-image: url("bright.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  height: 550px;
  // width: 400px;
  margin: 0 auto
}

.home-title {
  color: #212121;
  padding-top: 140px;
  margin-bottom: 10px;
  font-size: 45px;
  font-family: 'Abel', sans-serif;
  // font-weight: bold;
  text-shadow: 0 0 10px #ffffff
}

.home-p {
  color: #2d2d2d;
  text-shadow: 0 0 10px #ffffff;
  margin-bottom: 28px
}

.search-bar {
  height: 43px;
  width: 215px;
  padding-left: 16px;
  border: 1px solid #999999;
  border-radius: 3px;
  // color: #d6d6d6
}

.search-btn {
  color: white;
  background-color: #309ce1;
  box-shadow: inset 0 0 16px #2c94d6;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.4s
}

.search-btn:hover {
  background-color: #247eb7;
  box-shadow: none;
  border: none;
  transition: 0.4s
}

.search-btn:active {
  //
}

.easy-n-free {
  margin-top: 160px
}

.register-link {
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  transition: 0.4s
}

.register-link:hover {
  font-size: 20.5px
}
