/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.search-bar {
  //
}

.search-btn {
  color: white;
  background-color: #0197f6;
  border: none;
  border-radius: 2px;
  padding: 10px 20px
}

