.reward-wrapper {
  background-color: white;
  margin-top: 26px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 26px;
  margin-bottom: 30px;
  width: 590px;
  border-radius: 6px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2)
}

.success-main {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 2px;
  position: relative;
  width: 230px;
  height: 78px
}

.img-big {
  width: 66px;
  height: 66px
}

.green-tick {
  position: absolute;
  padding-top: 12px
}

.great {
  position: absolute;
  padding-right: 10px;
  padding-left: 84px;
}

.great h1 {
  font-size: 45px;
  color: #39b048;
  // text-shadow: 0 0 10px #ffffff
}

.below-title {
  margin: 0 auto;
  width: 600px;
  color: #333333;
  padding-top: 10px;
  margin-bottom: 38px;
  font-size: 29px;
  line-height: 140%;
  font-family: 'Abel', sans-serif;
}

.reward-main {
  width: 570px;
  margin: 0 auto
}

.reward-img img {
  border-radius: 8px;
  border: 1px solid #999999
}

.hash-above {
  margin-top: -11px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: lighter
}

.code-above {
  font-size: 24px;
  font-family: 'Abel', sans-serif;
  margin-bottom: 6px
}

.below-img {
  margin-top: 12px
}

.reward-field {
  width: 240px;
  padding: 7px 14px;
  border-radius: 3px;
  border: 1px solid #999999
}

.reward-message {
  padding: 7px 14px;
  margin-bottom: 16px;
  height: 110px;
  width: 240px;
  border-radius: 3px;
  border: 1px solid #999999
}

.reward-btn {
  color: white;
  background-color: #309ce1;
  box-shadow: inset 0 0 16px #2c94d6;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.4s;
  width: 93% !important;
}

.reward-btn a:hover {
  background-color: #247eb7;
  box-shadow: none;
  border: none;
  transition: 0.4s
}

.header-p {
  // text-align: left
}
