<div class="control-panel" align="center">

  <h3>Control Panel</h3>

  <div class="container">
    <div class="row">
      <div class="col-sm-6"> <!-- Left Div -->

        <!-- List Below -->
        <ul class="list-unstyled">

          <li><a href="/items">Show Items</a></li>
          <button type="button" class="btn-as-link" style="border: none; background: none; padding: 0" data-toggle="modal" data-target="#modalNew">Add New</button>
          <li><a href="#">Edit Profile</a></li>
          <li><a href="#">Privacy Settings</a></li>
          <li><a href="#">Contact Info</a></li>
        </ul>
      </div> <!-- Closes Left -->

      <div class="col-sm-6"> <!-- Right Div -->
        <ul class="list-unstyled">
          <li><button type="button" class="btn-as-link" style="border: none; background: none; padding: 0" data-toggle="modal" data-target="#modalLost">Lost an Item?</button></li>
          <li class="btn-shortcut"><a href="#">Found an Item?</a></li>
        </ul>
      </div> <!-- Closes Right -->

    </div>
  </div>

</div>

<!-- Bootstrap Modal for NEW -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-inline">
        <li><h4 class="modal-title" id="myModalLabel">Create New</h4></li>
        <!-- <li><h4> <%#= render "devise/shared/login" %></h4></li> -->
        </ul>
        <!-- <h6 class="modal-description">It's free and simple</h6> -->
      </div>

      <div class="modal-body">
        <%= render "items/new" %>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Bootstrap Modal for LOST -->
<div class="modal fade" id="modalLost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-inline">
        <li><h4 class="modal-title" id="myModalLabel">Report Lost Item</h4></li>
        <!-- <li><h4> <%#= render "devise/shared/login" %></h4></li> -->
        </ul>
        <!-- <h6 class="modal-description">It's free and simple</h6> -->
      </div>

      <div class="modal-body">
        <%= render "items/edit" %>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div> -->
    </div>
  </div>
</div>
