<div class="footer">

<div class="container">
  <div class="row">

    <div class="col-sm-4" id="footer-left">
      <ul style="list-style: none">
        <li>Newsletter</li>
        <li>Privacy Policy</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="col-sm-4 text-center">
      <!-- -->
    </div>
    <div class="col-sm-4" id="footer-right">
      <a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i>&nbsp; </a>
      <a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i>&nbsp; </a>
      <a href='#'><i class="fa fa-youtube-play fa-2x fa-fw"></i>&nbsp; </a>
      <a href='#'><i class="fa fa-linkedin fa-2x fa-fw"></i>&nbsp; </a>
    </div>

  </div>
  <!-- Dantera 2016 -->
  <div class="row">

    <div class="col-sm-12 text-center dantera">
      <p>Dantera 2016 &copy;</p>
    </div>

  </div>
</div>

</div>
