<div class="footer">
  <div class="container">
    <div class="row">

      <!-- Right section -->
      <div class="col-xs-12 col-sm-4 col-sm-xs">
        <!-- -->
      </div>

    <!-- Middle section -->
    <div class="col-xs-12 col-sm-4 col-sm-xs">
      <div class="text-center dantera-white">
        <p class="dantera">Dantera&copy; 2016-2019</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 hidden-xs">
      <div id="footer-right">
          <a href='https://www.youtube.com/watch?v=9ZY7n4raNCw&t' target="_blank">
             <i class="fa fa-youtube-play fa-2x fa-fw"></i>&nbsp;
          </a>
      </div>
     </div>
    </div>
  </div>
</div>


