<div class="footer">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-xs">
    <div class="text-center dantera-white" id="footer-left">
      <ul style="list-style: none">
        <li><a class="a" href="pages/how_to"> How to </a></li>
        <li><a class="a" href="pages/about_us"> About us </a></li>
        <li><a class="a" href="mailto:dante.fereghetti@gmail.com"> Contact us </a></li>
      </ul>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4 hidden-xs">
      <div class="text-center dantera-white">
        <p class="dantera">Dantera 2017 &copy;</p>
      </div>
      <!-- RIGHT FOOTER WITH ICONS (FACEBOOK, TWITTER, YOUTUBE, LINKEDIN) -->
 <!--</div>
      <div class="col-sm-4 col-xs-12">
      <div id="footer-right">
      <a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i>&nbsp; </a>
      <a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i>&nbsp; </a>
      <a href='#'><i class="fa fa-youtube-play fa-2x fa-fw"></i>&nbsp; </a>
      <a href='#'><i class="fa fa-linkedin fa-2x fa-fw"></i>&nbsp; </a>
      </div>
     </div> -->
  </div>
</div>
</div>


