<!-- This is the "Contact the Owner" page -->
<div class="container">
  <div class="row">

    <div class="col-xs-6 text-center">
      <div class="code-big"><strong><%= "# " + @item.code %></strong></div>
      <div class="item-name-big"><%= @item.name %></div>
      <div><%= "$ " + @item.reward.to_s  + ".00 " %></div>
      <div><%= @item.description %></div>
    </div>

    <div class="col-xs-6 text-center">
      <h3>Email form below</h3>
        <!-- Email form below -->
        <div align="center">

        </div>
        <!-- Email form above -->

    </div>


  </div> <!-- Closes Row -->
</div> <!-- Closes Container -->
