.my-items {
  color: #212121;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Abel', sans-serif;
}

.code-big {
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  font-weight: bold
}

.card {
  color: #333333
}

.card a {
  color: #2a2a72;
}
