.card-row {
  //
}

.padded {
  padding: 10px;
  height: 280px
}

.main-card {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 28px;
  padding-right: 0;
  box-shadow: 4px 4px 6px #dbdbdb;
  border-radius: 3px;
  background-color: white;
}

.my-items {
  color: #212121;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Abel', sans-serif;
}

#the-hash {
  font-size: 24px;
  font-weight: lighter
}

.code-big {
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  margin-bottom: 6px
}

.item-name {
  font-size: 21px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  margin-bottom: 26px;
  padding-left: 10px
}

.item_info {
  //
}

.reward {
  padding-top: 7px;
  padding-bottom: 10px;
}

.delete-link a {
  // padding-bottom: 30px;
  color: #ad2222;
  font-weight: bold;
  padding-left: 10px
}

.delete-link a:hover {
  margin-bottom: 10px;
  color: #d82222;
}

.code-link a {
  padding-bottom: 30px;
  color: #ad2222;
  font-weight: bold;
  padding-left: 10px
}

.code-link a:hover {
  margin-bottom: 10px;
  color: #d82222;
}

.card {
  color: #333333
}

.card-img {
  background-color: white;
  margin-top: 16px;
  border-radius: 4px;
  width: 102px;
  height: 102px;
  border: 1px solid #bababa;
  padding: 0;
  box-shadow: inset 0 0 30px #f4f4f4;
}

.bottom-link {
  margin-top: 44px
}

.add-new {
  color: white;
  background-color: #309ce1;
  box-shadow: inset 0 0 16px #2b8ece;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.5s
}

.add-new:hover {
  background-color: #267fb7;
  box-shadow: none;
  border: none;
  transition: 0.5s
}

.in-between {
  width: 0
}

.dash-link a {
  color: white;
  background-color: #309ce1;
  box-shadow: inset 0 0 16px #2b8ece;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.5s
}

.dash-link:hover a {
  color: white;
  background-color: #267fb7;
  box-shadow: none;
  border: none;
  transition: 0.5s
}
