.padded {
  padding: 10px;
  height: 320px // Height of each card (100%)
}

.main-card {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 32px;
  padding-right: 0;
  box-shadow: 4px 4px 4px #dbdbdb;
  border-radius: 3px;
  background-color: white;
}

.my-items {
  color: #212121;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Abel', sans-serif;
}

#the-hash {
  font-size: 18px;
  font-weight: lighter
}

#item-code {
  font-size: 26px;
  font-family: 'Abel', sans-serif;
  // font-weight: bold;
  margin-bottom: 6px
}

.item-name {
  padding-top: 9px;
  font-size: 34px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  padding-bottom: 6px;
  padding-left: 0
}

.item-info {
  position: absolute;
  padding-top: 130px
}

.reward {
  padding-top: 160px;
  padding-bottom: 10px;
}

.delete-link a {
  color: #9e9e9e;
  // font-weight: bold;
  padding-left: 10px
}

.delete-link a:hover {
  //
}

.print-code-link a {
  border: 2px solid #79b8e0;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-left: 0;
  padding: 6px 16px;
  transition: 0.4s
}

.print-code-link a:hover {
  color: #79b8e0
}

.card {
  color: #333333
}

.card-img {
  position: absolute;
  background-color: white;
  margin-top: 14px;
  width: 102px;
  height: 102px;
  border: 1px solid #bababa;
  padding: 0;
  box-shadow: inset 0 0 30px #f4f4f4;
}

.name-n-code {
 position: absolute;
 padding-left: 130px
}

.bottom-link {
  margin-top: 44px
}

.add-new {
  color: white;
  background-color: #309ce1;
  box-shadow: inset 0 0 16px #2b8ece;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.5s
}

.add-new:hover {
  background-color: #267fb7;
  box-shadow: none;
  border: none;
  transition: 0.5s
}

.in-between {
  width: 0
}

.in-between-bottom {
  width: 60px
}

.dash-link a {
  color: white;
  background-color: #309ce1;
  box-shadow: inset 0 0 16px #2b8ece;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.5s
}

.dash-link:hover a {
  color: white;
  background-color: #267fb7;
  box-shadow: none;
  border: none;
  transition: 0.5s
}

.card-bottom {
  position: absolute;
  padding-top: 20px
}

.fa-trash {
  color: #9e9e9e;
  position: relative;
  padding: 0
}

.modal-title {
  padding: 8px 14px
}

.modal-body {
  padding: 30px
}

.modal-field {
  width: 240px;
  padding: 7px 14px;
  border-radius: 3px;
  border: 1px solid #999999
}

.modal-description {
  padding: 7px 14px;
  margin-bottom: 16px;
  height: 110px;
  width: 240px;
  border-radius: 3px;
  border: 1px solid #999999
}
