// Won't work properly, I don't want the normal text italic, I want it like this
// I want it to act just like the mailto: option
.a_footer:link {
  color: white !important;
  text-decoration: none !important;
  font-style: normal !important;
}

.a_footer:visited {
  color: white !important;
  text-decoration: none !important;
  font-style: italic !important;
}

.a_footer:visited:hover {
  color: white !important;
  text-decoration: none !important;
  font-style: normal !important;
}

.a_footer:hover {
  color: #A7A7A7 !important;
  font-style: italic !important;
  text-decoration: italic !important;
}

.a_footer:active {
  color: white !important;
  text-decoration: none !important;
  font-style: normal !important;
}
// not working properly I don't know what, it says it inherits italic, but don't know from where

.min-height {
  min-height: calc(100vh - 173px) !important;
}

.footer {
  background-color: #363636;
  height: 97px
}

.dantera {
  margin-top: -20px;
  padding-bottom: 10px
}

.dantera p {
  color: white;
  opacity: 0.8
}

.dantera:hover {
  // color: #A7A7A7;
  // opacity: 0.8;
  // font-size: 106%;
  font-style: italic;
}

.dantera-white {
  color: #D7D7D7;
  padding-top: 83px
}

#footer-left {
  color: white;
  text-align: left;
  line-height: 150%;
  padding-top: 14px;
  opacity: 0.8;
}

#footer-right {
  color: white;
  text-align: right;
  padding-top: 12px;
}

.fa {
  color: white;
  opacity: 0.7;
  padding-top: 30px;
}
