<%= form_tag('/items/report_lost') do |f| %>

  <h6>Item:</h6>
  <div><%= select_tag "id", options_from_collection_for_select(Item.all, "id", "name"), include_blank: false, label: false %></div>

  <h6>Set a $ Reward:</h6>
  <div><%= text_field_tag "reward", nil, placeholder: "20" %></div>
  <!-- Submit -->

  <div><%= submit_tag "Confirm", method: "POST" %></div>

<% end %>
