<h2 align="center">My Items</h2>

<div class="container">
  <div class="row">

    <% @items.each do |item| %>
      <div class="col-sm-4" style="border: 1px solid silver">
        <%= item.name %><br>
        <%= item.description %><br>
        <%= item.reward %><br>
        <%= "# " + item.code %>
      </div>
    <% end %>

  </div>
</div>
