<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <style>
    .sticker {
      margin-top: 40px;
      padding: 40px;
      width: 300px;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      border: 3px solid black;
    }
    .sticker  img {
      width: 100px;
      margin-bottom: 30px;
    }
    .sticker p {
      font-size: 16px;
      font-weight: lighter;
      color: grey;
    }
    .sticker  .code {
      font-size: 30px;
      font-weight: bold;
      margin-top: 40px;
      color: black;
    }

    </style>
    <div class="sticker">
      <%= wicked_pdf_image_tag  "d-logo-dark.png" %>
      <p>
        You found a <%= @item.name  %>!  Doing the right thing is easy and simple</p>
      <p>
        Please go to <strong>dantera.org</strong> and insert the code below to return the item to the owner
      </p>
      <p class="code"><%= @item.code  %></p>
    </div>
  </body>
</html>


