<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <style>
    .sticker {
      margin-top: 5px;
      padding: 5px;
      width: 105px;
      height: 97px;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      border: 2px solid black;
    }
    .sticker  img {
      width: 32px;
      margin-bottom: 2px;
    }
    .sticker p {
      font-size: 7px;
      font-weight: normal;
      color: #3E3E3E;
    }
    .sticker  .code {
      font-size: 16px;
      font-weight: bold;
      margin-top: 2px;
      margin-bottom: 8px;
      margin: auto;
      color: black;
    }

    </style>
    <div class="sticker">
      <%= wicked_pdf_image_tag  "d-logo-dark.png" %>
      <p>
        You found a lost item! </p>
      <p>
        Go to <strong>dantera.org</strong> insert the code below to return the item.
      </p>
      <p class="code"><%= @item.code  %></p>
    </div>
  </body>
</html>


