<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <style>
    .sticker {
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 2px;
      width: 125px;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      border: 1px solid black;
    }
    .sticker  img {
      width: 16px;
      margin-bottom: 1px;
      margin-top: 2px;
    }
    .sticker p {
      font-size: 8px;
      font-weight: lighter;
      color: #3E3E3E;
      margin-top: 1px;
      margin-bottom: 2px;
    }
    .sticker  .code {
      font-size: 8px;
      font-weight: bold;
      color: black;
      font-style: normal;
    }

    </style>
    <div class="sticker">
    <%= wicked_pdf_image_tag  "d-logo-dark.png" %>
      <p>
         Lost item! Go to dantera.org/<i class="code"><%= @item.code %></i>
      </p>
    </div>
  </body>
</html>


