.modal-content {
  max-width: 500px !important;
}
.modal-body {
  padding-top: 0 !important;
}
.modal-header {
  border: none !important;
  padding-bottom: 0 !important;
}
.modal-field {
  width: 100% !important;
}
.modal-description {
  width: 100% !important;
}
.modal-banner {
  h3 {
    font-size: 25px;
  }
  padding-bottom: 20px;
}

.modal-title {
  font-size: 30px;
  padding-top: 16px
}

.sticker-modal{
  .search-btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }
  img {
    width: 100px;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
    font-weight: lighter;
    color: grey;
  }
  .code {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    color: black;
  }

  .sticker {
    margin-top: 40px;
    padding: 00px 40px;
  }
}
