.modal-content {
  max-width: 500px !important;
}
.modal-body {
  padding-top: 0 !important;
}
.modal-header {
  border: none !important;
  padding-bottom: 0 !important;
}
.modal-field {
  width: 100% !important;
}
.modal-description {
  width: 100% !important;
}
.modal-banner {
  h3 {
    font-size: 20px;
  }
  padding-bottom: 20px;
}
