// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

// For text selection
::selection { background: #309ce1; }
::-moz-selection { background: #309ce1; }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9f9
}
